services:
  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: adminpass
    ports:
      - "8080:80"
    depends_on:
      - postgres

  nodered:
    image: nodered/node-red
    container_name: nodered
    ports:
      - "1880:1880"
    depends_on:
      - postgres
    environment:
      - TZ=Asia/Tokyo
    volumes:
      - nodered_data:/data

volumes:
  postgres_data:
  nodered_data: